################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HelloWorld/v16
/HelloWorld/bin/Debug
/HelloWorld/obj/Debug
